name: deploy test env

permissions:
  contents: read
  packages: write

concurrency:
  group: deploy-${{ github.event.workflow_run.head_branch }}
  cancel-in-progress: true

on:
  workflow_run:
    workflows: ["Build and Push Preview Docker Image"]
    types: [completed]
    branches: [main]

jobs:
  deploy:
    name: Deploy Test Env
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.repository_owner == 'pixelvide' }}

    steps:
      - name: restart kube-sentinel deployment
        env:
          CLOUD_SENTINEL_K8S_HOST: ${{ secrets.CLOUD_SENTINEL_K8S_TEST_HOST }}
          CLOUD_SENTINEL_K8S_AUTH: ${{ secrets.CLOUD_SENTINEL_K8S_TEST_AUTH }}
        run: |
          if [ -z "$CLOUD_SENTINEL_K8S_HOST" ] || [ -z "$CLOUD_SENTINEL_K8S_AUTH" ]; then
            echo "CLOUD_SENTINEL_K8S_HOST or CLOUD_SENTINEL_K8S_AUTH is not set. Skipping deployment."
            exit 0
          fi
          RESTART_TIME=$(date -u +"%Y-%m-%dT%H:%M:%SZ")
          curl -X PATCH "$CLOUD_SENTINEL_K8S_HOST/api/v1/deployments/kube-sentinel/kube-sentinel" \
            -H "Authorization: $CLOUD_SENTINEL_K8S_AUTH" \
            -H "Content-Type: application/json" \
            -d "{\"spec\":{\"template\":{\"metadata\":{\"annotations\":{\"kube-sentinel.kubernetes.io/restartedAt\":\"$RESTART_TIME\"}}}}}"
