name: Release Please

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      # Step 1: Run Release Please and give it an ID
      - uses: googleapis/release-please-action@v4
        id: release

      # Step 2: Run custom script ONLY if a release was created to update chart and other files
      - name: Run release script
        if: ${{ steps.release.outputs.release_created }}
        run: |
          chmod +x scripts/release.sh
          ./scripts/release.sh
          
      - name: Commit and Push Changes
        if: ${{ steps.release.outputs.release_created }}
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          git add .
          git commit -m "chore: update versions after release ${{ steps.release.outputs.version }}" || echo "No changes to commit"
          git push
